<ul class="depart-hover">
    <li class="active"><a href="#">Women’s Clothing</a></li>
    <li><a href="{% url 'agent_freq_view' %}">View Frequency</a></li>
    <li><a href="{% url 'agent_pdt_view' %}">View Products</a></li>
    <li><a href="{% url 'agent_supp_view' %}">View Suppliers</a></li>
    <li><a href="{% url 'agent_pdt_freq_view' %}">View Product Frequency</a></li>
    <li><a href="{% url 'add_agent_supplier' %}">Add Agent Supplier</a></li>
    <li><a href="#">Brand Outdoor Apparel</a></li>
</ul>
